*.xls                                                                                                                         
*.html                                                                                                                        
*.json                                                                                                                        
__pycache__                                                                                                                   
.~*                                                                                                                           
venv                                                                                                                          
*.txt                                                                                                                         
.idea                                                                                                                         





